* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--blue);
  height: 100vh;
}

/* utility */

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ****************************** */

.app {
  background: linear-gradient(#040e27, rgba(4, 14, 39, 0.3));
  height: 100vh;
}

/* for bg images */

.left-bg {
  position: absolute;
  left: 0;
  opacity: 0.2;
  z-index: 0;
  height: 100%;
}

.right-bg {
  position: absolute;
  right: 0;
  opacity: 0.2;
  z-index: 0;
  height: 100%;
}

/* login container */

.login-container {
  width: 90%;
  height: 80%;
  position: relative;
  z-index: 1;
  flex-wrap: wrap;
  margin: 0 auto;
  flex-direction: column;
  justify-content: start;
}

.login-container > h1 {
  font-size: 35px;
  color: var(--green);
}

.login-container > h2 {
  color: var(--dull-white);
  text-align: center;
  padding-top: 2rem;
  font-size: 30px;
}

.login-container > input {
  padding: 14px 9px;
  width: 26rem;
  /* border: 2px solid var(--green); */
  border: none;
  border-radius: 9px;
  outline: none;
  /* background-color: var(--input-bg); */
}

.login-container > button {
  padding: 13px 32px;
  border-radius: 9px;
  font-size: 14px;
  border: 2px solid transparent;
  background: var(--green);
  color: white;
  cursor: pointer;
  transition: all 0.6s;
}
.login-container > button:hover {
  transition: all 0.6s;
  opacity: 0.7;
}

.login-container > select {
  outline: none;
  padding: 14px 9px;
  width: 26rem;
  border: none;
  border-radius: 9px;
}
