@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: normal;
  src: url("./assets/fonts/Inter\ Desktop/Inter-Medium.otf") format("truetype");
}

:root {
  --blue: #040e27;
  --white: #ffffff;
  --green: #17c3b7;
  --black: #000000;
  --blur: #1f2435;
  --dull-white: #d9d9d9;
  --input-bg:#bbb8b8;
}

* {
  font-family: "Inter";
}